.example::-webkit-scrollbar {
  display: none;
}

.pStyle {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: lighter;
}

.h1Style {
  font-size: 3rem;
  font-weight: bolder;
}

.iconBox {
  margin-left: 1rem;
  margin-right: 2rem;
}

.descStyle {
  max-width: 17rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

h3 {
  font-weight: medium;
}

.betweenPad {
  width: 6.5rem;
}

.rowComp {
  padding-bottom: 5rem;
}

.hrStyle {
  height: 0.4px;
  width: 35%;
  background-color: grey;
}

.brands {
  color: white;
  font-size: 2rem;
  margin: 0rem 0.65rem;
}

.navFooterItems {
  color: white;
  font-size: 1.1rem;
  margin: 0rem 2.5rem;
}

.buttonCta {
  margin-top: 1.3rem;
}

.navButton {
  margin-right: 3rem;
}

div .navbar {
  background-color: white;
}

.nav-item {
  margin: 0rem 5rem;
  font-size: 1.2rem;
}

.formLabel {
  margin-bottom: 0.75rem;
}

.formInput {
  margin-bottom: 1.2rem;
}

@media (max-width: 1030px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 12px;
  }
}